/* Fonts */
@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff")
            format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff")
            format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff")
            format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff")
            format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Styles */
#the-top {
    background-image: url(/img/header.png);
    background-size: 300px;
    background-repeat: repeat-x;
    width: 100%;
}

html.dark {
    #the-top {
        filter: invert();
    }

    body {
        background-color: #000 !important;
    }
}

html {
    font-family: "JetBrains Mono";
}

html.var-blue:not(.dark) {
    #the-top {
        filter: brightness(0) saturate(100%) invert(8%) sepia(75%)
            saturate(1244%) hue-rotate(227deg) brightness(91%) contrast(95%);
    }

    color: #1e1839 !important;
    --color-neutral-900: #1e1839 !important;
    --color-neutral-800: #1e1839 !important;
}

html.var-blue.dark {
    body {
        background-color: #1e1839 !important;
    }
}

html.var-bordeaux:not(.dark) {
    #the-top {
        filter: brightness(0) saturate(100%) invert(10%) sepia(54%)
            saturate(4687%) hue-rotate(319deg) brightness(78%) contrast(95%);
    }

    color: #641034 !important;
    --color-neutral-900: #641034 !important;
    --color-neutral-800: #641034 !important;
}

html.var-bordeaux.dark {
    body {
        background-color: #641034 !important;
    }

    --color-neutral-500: #eee !important;

    .prose {
        --tw-prose-lead: #fff !important;
    }
}

@media (max-width: 640px) {
    .py-6 {
        padding-top: 2.5rem;
    }
}

.me-14 {
    margin-inline-end: 0rem !important;
    color: rgba(--color-neutral-400, --tw-text-opacity) !important;
}

footer {
    li {
        text-align: start !important;
    }
}
